# c bindings and compillers
numba
Cython

# working with data
scipy
numpy

# visualisation
plotly
matplotlib

# main ML libs
tensorflow
tensornetwork
QGOpt

# quantum libs
cvxpy
qiskit

# other stuff
fastapi
GitPython

# testing and linting
pytest
pytest-timeout
pytest-mock
pytest-cov
psutil




